<html>
	<head>
		<title>Node: {node.label}</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<div>
			<h1>Node</h1>
			<div class="node">
				<label class="node-label">{node.fullLabel}</label>
				<table class="node-properties">
					<caption>Node Properties</caption>
					<tr><th>_identifier</th><td class="node-identifier">{node.identifier}</td></tr>
					<tr><th>_path</th><td class="node-path">{node.path}</td></tr>
					<tr><th>_type</th><td class="node-type">{node.nodeType.name}</td></tr>
					<f:for each="{convertedNodeProperties}" as="value" key="name">
						<tr class="node-property"><th class="node-property-name">{name}</th><td class="node-property-value">{value}</td></tr>
					</f:for>
				</table>
				<ul class="nodes">
					<f:for each="{node.childNodes}" as="childNode">
						<li class="node">
							<f:link.action rel="node-show" controller="Nodes" action="show" arguments="{node: childNode}" absolute="true">{childNode.name}</f:link.action>
						</li>
					</f:for>
				</ul>
				<f:link.action rel="node-show" controller="Nodes" action="show" arguments="{node: node}" absolute="true">show</f:link.action>
			</div>
		</div>
	</body>
</html>